.margin-right-16{
	margin-right: 16px;
}

.margin-left-16{
	margin-left: 16px;
}

.margin-bottom-20{
	margin-bottom: 20px;
}

.margin-bottom-30{
	margin-bottom: 30px;
}

.margin-top-20{
	margin-top:20px;
}

